<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup>
  <appSettings>
    <add key="DATASOURCE" value="99910DES25\SQLEXPRESS" />
    <!--<add key="DATASOURCE" value="ADMIN\SQLEXPRESS" />-->
    <add key="DB" value="QL_CONG_TAC_PHI" />
    <add key="USERID" value="sa" />
    <!--<add key="USERID" value="thend" />-->
    <!--pass 123456-->
    <!--<add key="PASSWORD" value="6etHAhpmUwKzERFxg2VU9A=="/>-->
    <!--Pass vrb123456-->
    <add key="PASSWORD" value="rV/PEoVxglTVQNAYJ6AsTg==" />
    <add key="CONNECTION" value="Data Source=99910DES25\SQLEXPRESS;Initial Catalog=QL_CONG_TAC_PHI;Persist Security Info=True;User ID=sa;Password=vrb12456" />
    <add key="LOGDIRECTORY" value=".\" />
    <add key="DEBUGMODE" value="ON" />
    <!--Thêm hàng loạt màu để hiển thị-->
    <add key="COLOR1" value="AliceBlue" />
    <add key="COLOR2" value="AntiqueWhite" />
    <add key="COLOR3" value="Aqua" />
    <add key="COLOR4" value="Aquamarine" />
    <add key="COLOR5" value="Azure" />
    <add key="COLOR6" value="Beige" />
    <add key="COLOR7" value="Bisque" />
    <add key="COLOR8" value="Orange" />
    <add key="COLOR9" value="BlanchedAlmond" />
    <add key="COLOR10" value="Blue" />
    <add key="COLOR11" value="BlueViolet" />
    <add key="COLOR12" value="Brown" />
    <add key="COLOR13" value="BurlyWood" />
    <add key="COLOR14" value="CadetBlue" />
    <add key="COLOR15" value="Chartreuse" />
    <add key="COLOR16" value="Chocolate" />
    <add key="COLOR17" value="Coral" />
    <add key="COLOR18" value="CornflowerBlue" />
    <add key="COLOR19" value="Cornsilk" />
    <add key="COLOR20" value="Crimson" />
    <add key="COLOR21" value="Cyan" />
    <add key="COLOR22" value="DarkBlue" />
    <add key="COLOR23" value="DarkCyan" />
    <add key="COLOR24" value="DarkGoldenrod" />
    <add key="COLOR25" value="DarkGray" />
    <add key="COLOR26" value="DarkGreen" />
    <add key="COLOR27" value="DarkKhaki" />
    <add key="COLOR28" value="DarkMagenta" />
    <add key="COLOR29" value="DarkOliveGreen" />
    <add key="COLOR30" value="DarkOrange" />
    <add key="COLOR31" value="DarkOrchid" />
    <add key="COLOR32" value="DarkRed" />
    <add key="COLOR33" value="DarkSalmon" />
    <add key="COLOR34" value="DarkSeaGreen" />
    <add key="COLOR35" value="DarkSlateBlue" />
    <add key="COLOR36" value="DarkSlateGray" />
    <add key="COLOR37" value="DarkTurquoise" />
    <add key="COLOR38" value="DarkViolet" />
    <add key="COLOR39" value="DeepPink" />
    <add key="COLOR40" value="DeepSkyBlue" />
    <add key="COLOR41" value="DimGray" />
    <add key="COLOR42" value="DodgerBlue" />
    <add key="COLOR43" value="Firebrick" />
    <add key="COLOR44" value="FloralWhite" />
    <add key="COLOR45" value="ForestGreen" />
    <add key="COLOR46" value="Fuchsia" />
    <add key="COLOR47" value="Gainsboro" />
    <add key="COLOR48" value="GhostWhite" />
    <add key="COLOR49" value="Gold" />
    <add key="COLOR50" value="Goldenrod" />
    <add key="COLOR51" value="Gray" />
    <add key="COLOR52" value="Green" />
    <add key="COLOR53" value="GreenYellow" />
    <add key="COLOR54" value="Honeydew" />
    <add key="COLOR55" value="HotPink" />
    <add key="COLOR56" value="IndianRed" />
    <add key="COLOR57" value="Indigo" />
    <add key="COLOR58" value="Ivory" />
    <add key="COLOR59" value="Khaki" />
    <add key="COLOR60" value="Lavender" />
    <add key="COLOR61" value="LavenderBlush" />
    <add key="COLOR62" value="LawnGreen" />
    <add key="COLOR63" value="LemonChiffon" />
    <add key="COLOR64" value="LightBlue" />
    <add key="COLOR65" value="LightCoral" />
    <add key="COLOR66" value="LightCyan" />
    <add key="COLOR67" value="LightGoldenrodYellow" />
    <add key="COLOR68" value="LightGray" />
    <add key="COLOR69" value="LightGreen" />
    <add key="COLOR70" value="LightPink" />
    <add key="COLOR71" value="LightSalmon" />
    <add key="COLOR72" value="LightSeaGreen" />
    <add key="COLOR73" value="LightSkyBlue" />
    <add key="COLOR74" value="LightSlateGray" />
    <add key="COLOR75" value="LightSteelBlue" />
    <add key="COLOR76" value="LightYellow" />
    <add key="COLOR77" value="Lime" />
    <add key="COLOR78" value="LimeGreen" />
    <add key="COLOR79" value="Linen" />
    <add key="COLOR80" value="Magenta" />
    <add key="COLOR81" value="Maroon" />
    <add key="COLOR82" value="MediumAquamarine" />
    <add key="COLOR83" value="MediumBlue" />
    <add key="COLOR84" value="MediumOrchid" />
    <add key="COLOR85" value="MediumPurple" />
    <add key="COLOR86" value="MediumSeaGreen" />
    <add key="COLOR87" value="MediumSlateBlue" />
    <add key="COLOR88" value="MediumSpringGreen" />
    <add key="COLOR89" value="MediumTurquoise" />
    <add key="COLOR90" value="MediumVioletRed" />
    <add key="COLOR91" value="MidnightBlue" />
    <add key="COLOR92" value="MintCream" />
    <add key="COLOR93" value="MistyRose" />
    <add key="COLOR94" value="Moccasin" />
    <add key="COLOR95" value="NavajoWhite" />
    <add key="COLOR96" value="Navy" />
    <add key="COLOR97" value="OldLace" />
    <add key="COLOR98" value="Olive" />
    <add key="COLOR99" value="OliveDrab" />
    <add key="COLOR100" value="Orange" />
    <add key="COLOR101" value="OrangeRed" />
    <add key="COLOR102" value="Orchid" />
    <add key="COLOR103" value="PaleGoldenrod" />
    <add key="COLOR104" value="PaleGreen" />
    <add key="COLOR105" value="PaleTurquoise" />
    <add key="COLOR106" value="PaleVioletRed" />
    <add key="COLOR107" value="PapayaWhip" />
    <add key="COLOR108" value="PeachPuff" />
    <add key="COLOR109" value="Peru" />
    <add key="COLOR110" value="Pink" />
    <add key="COLOR111" value="Plum" />
    <add key="COLOR112" value="PowderBlue" />
    <add key="COLOR113" value="Purple" />
    <add key="COLOR114" value="Red" />
    <add key="COLOR115" value="RosyBrown" />
    <add key="COLOR116" value="RoyalBlue" />
    <add key="COLOR117" value="SaddleBrown" />
    <add key="COLOR118" value="Salmon" />
    <add key="COLOR119" value="SandyBrown" />
    <add key="COLOR120" value="SeaGreen" />
    <add key="COLOR121" value="SeaShell" />
    <add key="COLOR122" value="Sienna" />
    <add key="COLOR123" value="Silver" />
    <add key="COLOR124" value="SkyBlue" />
    <add key="COLOR125" value="SlateBlue" />
    <add key="COLOR126" value="SlateGray" />
    <add key="COLOR127" value="Snow" />
    <add key="COLOR128" value="SpringGreen" />
    <add key="COLOR129" value="SteelBlue" />
    <add key="COLOR130" value="Tan" />
    <add key="COLOR131" value="Teal" />
    <add key="COLOR132" value="Thistle" />
    <add key="COLOR133" value="Tomato" />
    <add key="COLOR134" value="Turquoise" />
    <add key="COLOR135" value="Violet" />
    <add key="COLOR136" value="Wheat" />
    <add key="COLOR137" value="White" />
    <add key="COLOR138" value="WhiteSmoke" />
    <add key="COLOR139" value="Yellow" />
    <add key="COLOR140" value="YellowGreen" />
    <add key="COLOR141" value="AliceBlue" />
    <add key="COLOR142" value="AntiqueWhite" />
    <add key="COLOR143" value="Aqua" />
    <add key="COLOR144" value="Aquamarine" />
    <add key="COLOR145" value="Azure" />
    <add key="COLOR146" value="Beige" />
    <add key="COLOR147" value="Bisque" />
    <add key="COLOR148" value="Orange" />
    <add key="COLOR149" value="BlanchedAlmond" />
    <add key="COLOR150" value="Blue" />
    <add key="COLOR151" value="BlueViolet" />
    <add key="COLOR152" value="Brown" />
    <add key="COLOR153" value="BurlyWood" />
    <add key="COLOR154" value="CadetBlue" />
    <add key="COLOR155" value="Chartreuse" />
    <add key="COLOR156" value="Chocolate" />
    <add key="COLOR157" value="Coral" />
    <add key="COLOR158" value="CornflowerBlue" />
    <add key="COLOR159" value="Cornsilk" />
    <add key="COLOR160" value="Crimson" />
    <add key="COLOR161" value="Cyan" />
    <add key="COLOR162" value="DarkBlue" />
    <add key="COLOR163" value="DarkCyan" />
    <add key="COLOR164" value="DarkGoldenrod" />
    <add key="COLOR165" value="DarkGray" />
    <add key="COLOR166" value="DarkGreen" />
    <add key="COLOR167" value="DarkKhaki" />
    <add key="COLOR168" value="DarkMagenta" />
    <add key="COLOR169" value="DarkOliveGreen" />
    <add key="COLOR170" value="DarkOrange" />
    <add key="COLOR171" value="DarkOrchid" />
    <add key="COLOR172" value="DarkRed" />
    <add key="COLOR173" value="DarkSalmon" />
    <add key="COLOR174" value="DarkSeaGreen" />
    <add key="COLOR175" value="DarkSlateBlue" />
    <add key="COLOR176" value="DarkSlateGray" />
    <add key="COLOR177" value="DarkTurquoise" />
    <add key="COLOR178" value="DarkViolet" />
    <add key="COLOR179" value="DeepPink" />
    <add key="COLOR180" value="DeepSkyBlue" />
    <add key="COLOR181" value="DimGray" />
    <add key="COLOR182" value="DodgerBlue" />
    <add key="COLOR183" value="Firebrick" />
    <add key="COLOR184" value="FloralWhite" />
    <add key="COLOR185" value="ForestGreen" />
    <add key="COLOR186" value="Fuchsia" />
    <add key="COLOR187" value="Gainsboro" />
    <add key="COLOR188" value="GhostWhite" />
    <add key="COLOR189" value="Gold" />
    <add key="COLOR190" value="Goldenrod" />
    <add key="COLOR191" value="Gray" />
    <add key="COLOR192" value="Green" />
    <add key="COLOR193" value="GreenYellow" />
    <add key="COLOR194" value="Honeydew" />
    <add key="COLOR195" value="HotPink" />
    <add key="COLOR196" value="IndianRed" />
    <add key="COLOR197" value="Indigo" />
    <add key="COLOR198" value="Ivory" />
    <add key="COLOR199" value="Khaki" />
    <add key="COLOR200" value="Lavender" />
    <add key="COLOR201" value="LavenderBlush" />
    <add key="COLOR202" value="LawnGreen" />
    <add key="COLOR203" value="LemonChiffon" />
    <add key="COLOR204" value="LightBlue" />
    <add key="COLOR205" value="LightCoral" />
    <add key="COLOR206" value="LightCyan" />
    <add key="COLOR207" value="LightGoldenrodYellow" />
    <add key="COLOR208" value="LightGray" />
    <add key="COLOR209" value="LightGreen" />
    <add key="COLOR210" value="LightPink" />
    <add key="COLOR211" value="LightSalmon" />
    <add key="COLOR212" value="LightSeaGreen" />
    <add key="COLOR213" value="LightSkyBlue" />
    <add key="COLOR214" value="LightSlateGray" />
    <add key="COLOR215" value="LightSteelBlue" />
    <add key="COLOR216" value="LightYellow" />
    <add key="COLOR217" value="Lime" />
    <add key="COLOR218" value="LimeGreen" />
    <add key="COLOR219" value="Linen" />
    <add key="COLOR220" value="Magenta" />
    <add key="COLOR221" value="Maroon" />
    <add key="COLOR222" value="MediumAquamarine" />
    <add key="COLOR223" value="MediumBlue" />
    <add key="COLOR224" value="MediumOrchid" />
    <add key="COLOR225" value="MediumPurple" />
    <add key="COLOR226" value="MediumSeaGreen" />
    <add key="COLOR227" value="MediumSlateBlue" />
    <add key="COLOR228" value="MediumSpringGreen" />
    <add key="COLOR229" value="MediumTurquoise" />
    <add key="COLOR230" value="MediumVioletRed" />
    <add key="COLOR231" value="MidnightBlue" />
    <add key="COLOR232" value="MintCream" />
    <add key="COLOR233" value="MistyRose" />
    <add key="COLOR234" value="Moccasin" />
    <add key="COLOR235" value="NavajoWhite" />
    <add key="COLOR236" value="Navy" />
    <add key="COLOR237" value="OldLace" />
    <add key="COLOR238" value="Olive" />
    <add key="COLOR239" value="OliveDrab" />
    <add key="COLOR240" value="Orange" />
    <add key="COLOR241" value="OrangeRed" />
    <add key="COLOR242" value="Orchid" />
    <add key="COLOR243" value="PaleGoldenrod" />
    <add key="COLOR244" value="PaleGreen" />
    <add key="COLOR245" value="PaleTurquoise" />
    <add key="COLOR246" value="PaleVioletRed" />
    <add key="COLOR247" value="PapayaWhip" />
    <add key="COLOR248" value="PeachPuff" />
    <add key="COLOR249" value="Peru" />
    <add key="COLOR250" value="Pink" />
    <add key="COLOR251" value="Plum" />
    <add key="COLOR252" value="PowderBlue" />
    <add key="COLOR253" value="Purple" />
    <add key="COLOR254" value="Red" />
    <add key="COLOR255" value="RosyBrown" />
    <add key="COLOR256" value="RoyalBlue" />
    <add key="COLOR257" value="SaddleBrown" />
    <add key="COLOR258" value="Salmon" />
    <add key="COLOR259" value="SandyBrown" />
    <add key="COLOR260" value="SeaGreen" />
    <add key="COLOR261" value="SeaShell" />
    <add key="COLOR262" value="Sienna" />
    <add key="COLOR263" value="Silver" />
    <add key="COLOR264" value="SkyBlue" />
    <add key="COLOR265" value="SlateBlue" />
    <add key="COLOR266" value="SlateGray" />
    <add key="COLOR267" value="Snow" />
    <add key="COLOR268" value="SpringGreen" />
    <add key="COLOR269" value="SteelBlue" />
    <add key="COLOR270" value="Tan" />
    <add key="COLOR271" value="Teal" />
    <add key="COLOR272" value="Thistle" />
    <add key="COLOR273" value="Tomato" />
    <add key="COLOR274" value="Turquoise" />
    <add key="COLOR275" value="Violet" />
    <add key="COLOR276" value="Wheat" />
    <add key="COLOR277" value="White" />
    <add key="COLOR278" value="WhiteSmoke" />
    <add key="COLOR279" value="Yellow" />
    <add key="COLOR280" value="YellowGreen" />
    <add key="COLOR281" value="AliceBlue" />
    <add key="COLOR282" value="AntiqueWhite" />
    <add key="COLOR283" value="Aqua" />
    <add key="COLOR284" value="Aquamarine" />
    <add key="COLOR285" value="Azure" />
    <add key="COLOR286" value="Beige" />
    <add key="COLOR287" value="Bisque" />
    <add key="COLOR288" value="Orange" />
    <add key="COLOR289" value="BlanchedAlmond" />
    <add key="COLOR290" value="Blue" />
    <add key="COLOR291" value="BlueViolet" />
    <add key="COLOR292" value="Brown" />
    <add key="COLOR293" value="BurlyWood" />
    <add key="COLOR294" value="CadetBlue" />
    <add key="COLOR295" value="Chartreuse" />
    <add key="COLOR296" value="Chocolate" />
    <add key="COLOR297" value="Coral" />
    <add key="COLOR298" value="CornflowerBlue" />
    <add key="COLOR299" value="Cornsilk" />
    <add key="COLOR300" value="Crimson" />
    <add key="COLOR301" value="Cyan" />
    <add key="COLOR302" value="DarkBlue" />
    <add key="COLOR303" value="DarkCyan" />
    <add key="COLOR304" value="DarkGoldenrod" />
    <add key="COLOR305" value="DarkGray" />
    <add key="COLOR306" value="DarkGreen" />
    <add key="COLOR307" value="DarkKhaki" />
    <add key="COLOR308" value="DarkMagenta" />
    <add key="COLOR309" value="DarkOliveGreen" />
    <add key="COLOR310" value="DarkOrange" />
    <add key="COLOR311" value="DarkOrchid" />
    <add key="COLOR312" value="DarkRed" />
    <add key="COLOR313" value="DarkSalmon" />
    <add key="COLOR314" value="DarkSeaGreen" />
    <add key="COLOR315" value="DarkSlateBlue" />
    <add key="COLOR316" value="DarkSlateGray" />
    <add key="COLOR317" value="DarkTurquoise" />
    <add key="COLOR318" value="DarkViolet" />
    <add key="COLOR319" value="DeepPink" />
    <add key="COLOR320" value="DeepSkyBlue" />
    <add key="COLOR321" value="DimGray" />
    <add key="COLOR322" value="DodgerBlue" />
    <add key="COLOR323" value="Firebrick" />
    <add key="COLOR324" value="FloralWhite" />
    <add key="COLOR325" value="ForestGreen" />
    <add key="COLOR326" value="Fuchsia" />
    <add key="COLOR327" value="Gainsboro" />
    <add key="COLOR328" value="GhostWhite" />
    <add key="COLOR329" value="Gold" />
    <add key="COLOR330" value="Goldenrod" />
    <add key="COLOR331" value="Gray" />
    <add key="COLOR332" value="Green" />
    <add key="COLOR333" value="GreenYellow" />
    <add key="COLOR334" value="Honeydew" />
    <add key="COLOR335" value="HotPink" />
    <add key="COLOR336" value="IndianRed" />
    <add key="COLOR337" value="Indigo" />
    <add key="COLOR338" value="Ivory" />
    <add key="COLOR339" value="Khaki" />
    <add key="COLOR340" value="Lavender" />
    <add key="COLOR341" value="LavenderBlush" />
    <add key="COLOR342" value="LawnGreen" />
    <add key="COLOR343" value="LemonChiffon" />
    <add key="COLOR344" value="LightBlue" />
    <add key="COLOR345" value="LightCoral" />
    <add key="COLOR346" value="LightCyan" />
    <add key="COLOR347" value="LightGoldenrodYellow" />
    <add key="COLOR348" value="LightGray" />
    <add key="COLOR349" value="LightGreen" />
    <add key="COLOR350" value="LightPink" />
    <add key="COLOR351" value="LightSalmon" />
    <add key="COLOR352" value="LightSeaGreen" />
    <add key="COLOR353" value="LightSkyBlue" />
    <add key="COLOR354" value="LightSlateGray" />
    <add key="COLOR355" value="LightSteelBlue" />
    <add key="COLOR356" value="LightYellow" />
    <add key="COLOR357" value="Lime" />
    <add key="COLOR358" value="LimeGreen" />
    <add key="COLOR359" value="Linen" />
    <add key="COLOR360" value="Magenta" />
    <add key="COLOR361" value="Maroon" />
    <add key="COLOR362" value="MediumAquamarine" />
    <add key="COLOR363" value="MediumBlue" />
    <add key="COLOR364" value="MediumOrchid" />
    <add key="COLOR365" value="MediumPurple" />
    <add key="COLOR366" value="MediumSeaGreen" />
    <add key="COLOR367" value="MediumSlateBlue" />
    <add key="COLOR368" value="MediumSpringGreen" />
    <add key="COLOR369" value="MediumTurquoise" />
    <add key="COLOR370" value="MediumVioletRed" />
    <add key="COLOR371" value="MidnightBlue" />
    <add key="COLOR372" value="MintCream" />
    <add key="COLOR373" value="MistyRose" />
    <add key="COLOR374" value="Moccasin" />
    <add key="COLOR375" value="NavajoWhite" />
    <add key="COLOR376" value="Navy" />
    <add key="COLOR377" value="OldLace" />
    <add key="COLOR378" value="Olive" />
    <add key="COLOR379" value="OliveDrab" />
    <add key="COLOR380" value="Orange" />
    <add key="COLOR381" value="OrangeRed" />
    <add key="COLOR382" value="Orchid" />
    <add key="COLOR383" value="PaleGoldenrod" />
    <add key="COLOR384" value="PaleGreen" />
    <add key="COLOR385" value="PaleTurquoise" />
    <add key="COLOR386" value="PaleVioletRed" />
    <add key="COLOR387" value="PapayaWhip" />
    <add key="COLOR388" value="PeachPuff" />
    <add key="COLOR389" value="Peru" />
    <add key="COLOR390" value="Pink" />
    <add key="COLOR391" value="Plum" />
    <add key="COLOR392" value="PowderBlue" />
    <add key="COLOR393" value="Purple" />
    <add key="COLOR394" value="Red" />
    <add key="COLOR395" value="RosyBrown" />
    <add key="COLOR396" value="RoyalBlue" />
    <add key="COLOR397" value="SaddleBrown" />
    <add key="COLOR398" value="Salmon" />
    <add key="COLOR399" value="SandyBrown" />
    <add key="COLOR400" value="SeaGreen" />
    <add key="COLOR401" value="SeaShell" />
    <add key="COLOR402" value="Sienna" />
    <add key="COLOR403" value="Silver" />
    <add key="COLOR404" value="SkyBlue" />
    <add key="COLOR405" value="SlateBlue" />
    <add key="COLOR406" value="SlateGray" />
    <add key="COLOR407" value="Snow" />
    <add key="COLOR408" value="SpringGreen" />
    <add key="COLOR409" value="SteelBlue" />
    <add key="COLOR410" value="Tan" />
    <add key="COLOR411" value="Teal" />
    <add key="COLOR412" value="Thistle" />
    <add key="COLOR413" value="Tomato" />
    <add key="COLOR414" value="Turquoise" />
    <add key="COLOR415" value="Violet" />
    <add key="COLOR416" value="Wheat" />
    <add key="COLOR417" value="White" />
    <add key="COLOR418" value="WhiteSmoke" />
    <add key="COLOR419" value="Yellow" />
    <add key="COLOR420" value="YellowGreen" />
    <add key="COLOR421" value="AliceBlue" />
    <add key="COLOR422" value="AntiqueWhite" />
    <add key="COLOR423" value="Aqua" />
    <add key="COLOR424" value="Aquamarine" />
    <add key="COLOR425" value="Azure" />
    <add key="COLOR426" value="Beige" />
    <add key="COLOR427" value="Bisque" />
    <add key="COLOR428" value="Orange" />
    <add key="COLOR429" value="BlanchedAlmond" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.111.0" newVersion="1.0.111.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data></configuration>
