-- TRUNCATE ALL TABLE
TRUNCATE TABLE HIS_WORKING;
TRUNCATE TABLE MT_CONG_TY;
TRUNCATE TABLE MT_DINH_MUC_CT;
-- TRUNCATE TABLE MT_DON_GIA;
TRUNCATE TABLE MT_HOP_DONG;
TRUNCATE TABLE MT_LICH_CT;
TRUNCATE TABLE MT_NHAN_VIEN;
TRUNCATE TABLE MT_WORKING;
TRUNCATE TABLE TMP_WORKING;

Select HO_VA_TEN,MA_NHAN_VIEN, PHONG_BAN, WORKING_DAY from MT_WORKING where  MA_KHACH_HANG='' group by HO_VA_TEN,MA_NHAN_VIEN, PHONG_BAN, WORKING_DAY

-- Trộn bảng ngẫu nhiên khi lấy danh sách hợp đồng để tính toán
SELECT * FROM MT_HOP_DONG  
ORDER BY NEWID ()  

Select * from MT_WORKING where MA_KHACH_HANG=''